 <configuration timestamp="2018-08-22T19:31:40.448450500Z">
     <base uri="https://raw.githubusercontent.com/jhonmakehow/up4jTeste/master/" path="${user.loc}"/>
     <properties>
         <property key="user.loc" value="C:/totem/"/>
     </properties>
     <files>
         <file uri="setup.xml" checksum="279583e5" size="427"/>
     </files>
 </configuration>

